<ion-view title="Addbook" id="Addbook">
  <ion-content padding="true" class="has-header">
    <form id="Addbook-form" class="list">
      <ion-list id="addbook-list5">
        <label class="item item-input" id="addbook-tittle">
          <span class="input-label">Título</span>
          <input type="text" placeholder="" ng-model="newBook.title">
        </label>
        <label class="item item-input item-select item-light" id="addbook-genre">
          <span class="input-label">Género</span>
          <select ng-model="newBook.genre">
            <option>Fantasia</option>
            <option>Terror</option>
            <option>Juvenil</option>
            <option>Romántico</option>
            <option>Otros</option>
          </select>
        </label>
        <label class="item item-input" id="addbook-year">
          <span class="input-label">Año</span>
          <input type="text" placeholder="" ng-model="newBook.year">
        </label>
      <label class="item item-input item-select item-light" id="addbook-language">
        <span class="input-label">Idioma</span>
        <select ng-model="newBook.language">
          <option>Castellano</option>
          <option>Catalan</option>
          <option>Ingles</option>
          <option>Alemán</option>
          <option>Japones</option>
          <option>Otros</option>
        </select>
      </label>
      <label class="item item-input" id="addbook-author">
        <span class="input-label">Autor</span>
        <input type="text" placeholder="" ng-model="newBook.author">
      </label>
      <label class="item item-input" id="addbook-editorial">
        <span class="input-label">Editorial</span>
        <input type="text" placeholder="" ng-model="newBook.editorial">
      </label>
      <label class="item item-input" id="addbook-description">
        <span class="input-label">Descripción</span>
        <input type="text" placeholder="" ng-model="newBook.description">
      </label>
      </ion-list>
      <a class="button button-block  button-energized" ng-click="takePicture()">Subir Foto</a>
      <a ui-sref="tabsController.listTabDefaultPage" id="addbook-button10" class="button button-block  button-balanced" ng-click="addbook()">Añadir Libro</a>
    </form>
  </ion-content>
</ion-view>
