<ion-view title="libro" id="libro">
  <ion-content padding="true" class="has-header">
    <form id="Libro-form5" class="list">
      <ion-header-bar class="bar-energized">
        <h1 class="title text-center">{{book.title}}</h1>
        <div class="buttons">
          <button class="button button-icon ion-compose" ui-sref="editbook" ng-click="SelectBook(book)">
          </button>
        </div>
      </ion-header-bar>
    <!-- <h2 class = "text-center positive"> {{book.title}} </h2> -->
    <h2 class = "text-center positive"> _______________________________ </h2>
    <div style="margin: 0 auto; width:250px">
      <img  height="400 px" width="250 px" src="./img/juegotronos.jpg" >
      </div>
        <label class="item item-output" id="libro-input3">
          <span class="output-label">Titulo: {{book.title}}</span>
          <output type="text" placeholder="" ng-model="book.title"></output>
        </label>
        <label class="item item-output" id="addbook-author">
          <span class="output-label">Autor: {{book.author[0]}}</span>
          <output type="text" placeholder="" ng-model="book.author"></output>
        </label>
        <label class="item item-output" id="addbook-year">
          <span class="output-label">Año: {{book.year}}</span>
          <output type="text" placeholder="" ng-model="book.year"></output>
        </label>
        <label class="item item-output" id="addbook-language">
          <span class="output-label">Idioma: {{book.language}}</span>
          <output type="text" placeholder="" ng-model="book.language"></output>
        </label>
        <label class="item item-output" id="addbook-genero">
          <span class="output-label">Género: {{book.genre[0]}}</span>
          <output type="text" placeholder="" ng-model="book.genre"></output>
        </label>
        <label class="item item-output" id="addbook-editorial">
          <span class="output-label">Editorial: {{book.editorial}}</span>
          <output type="text" placeholder="" ng-model="book.editorial"></output>
        </label>
        <label class="item item-output" id="addbook-propietary">
          <span ng-repeat="user in users | where: {_id: book.propietary}" class="output-label">
            Propietario: {{user.name}}</span>
          <output type="text" placeholder="" ng-model="user.name"></output>
        </label>
        <label class="item item-output" id="addbook-description">
          <span class="output-label">Descripción: {{book.description}}</span>
          <output type="text" placeholder="" ng-model="book.description"></output>
        </label>
    </form>
  </ion-content>
</ion-view>
