<ion-view title="Chat Tab Default Page" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="chatTabDefaultPage-list3">
      <ion-item class="item-avatar" id="chatTabDefaultPage-list-item16">
        <h2>User 1</h2>
      </ion-item>
      <ion-item class="item-avatar" id="chatTabDefaultPage-list-item17">
        <h2>User 2</h2>
      </ion-item>
      <ion-item class="item-avatar" id="chatTabDefaultPage-list-item18">
        <h2>User 3</h2>
      </ion-item>
      <ion-item class="item-avatar" id="chatTabDefaultPage-list-item19">
        <h2>User 4</h2>
      </ion-item>
      <ion-item class="item-avatar" id="chatTabDefaultPage-list-item20">
        <h2>User 5</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>