<ion-view title="Biblioteca" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="homeTabDefaultPage-form2" class="list">
      <label class="item item-input item-icon-right" id="homeTabDefaultPage-search3" name="SearchBook">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search book" ng-model="titleBook" ng-click="SearchBook()">
      </label>
    </form>
    <ion-list id="homeTabDefaultPage-list2">
      <ion-item class="item-divider"id="homeTabDefaultPage-list-item-divider2">BIBLIOTECA</ion-item>
          <ion-item class="item-thumbnail-left" ng-repeat="book in books" ui-sref="bookinfo" ng-click = "">
            <img src="./img/descarga.png">
            <h2> {{book.title}}</h2>
            <p>Autor: {{book.author[0]}}</p>
            <p ng-repeat="user in users | where:{_id: book.propietary}" >Propietario: {{user.name}}</p>
            <p>Genero: {{book.genre[0]}}</p>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
